@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Black background */
  color: white;
  font-family: 'Sniglet', sans-serif;
}

.information-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1b1b1b; /* Slightly lighter black for the text container */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.information-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.back-button,
.animal-visualizer-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: linear-gradient(90deg, rgba(70,130,180,1) 0%, rgba(100,149,237,1) 50%, rgba(0,191,255,1) 100%);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.back-button:hover,
.animal-visualizer-button:hover {
  background: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(70,130,180,1) 50%, rgba(100,149,237,1) 100%);
  transform: translateY(-5px);
}

.back-button:focus,
.animal-visualizer-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}